---
layout: base.njk
title: Contact
permalink: /contact/
---
<section>
  <h2>CONTACT</h2>
  <p>Did you always want to probe the depths of my emersonian mind?.</p>
  <p class="contact-email">
    Email: <a href="mailto:parsa2000kurd@gmail.com">parsa200kurd@gmail.com</a>
  </p>
</section>
